
.login-form {
  width:400px;
  margin:auto;

  h1 {
    width:100%;
    text-align:center;
    word-wrap:break-word;
  }

  label {
    width:100%;
    font-size:14px;
    display:block;
    padding:5px 0px;
  }

  input {
    width:398px;
    padding:5px 0px;
    text-indent:3px;
    border:1px solid gray;
  }

  button {
    width:100%;
    display:block;
    margin-top:5px;
    background-color:cornflowerblue;
    color:white;
    padding:5px;
    border:0;
    font-size:14px;

    &:hover {
      transition:0.25s linear;
      transform:scale(1.09);
      box-shadow: 0px 4px 5px gray;
      cursor:pointer;
    }
  }
}